body {
    margin: 0;
    padding: 0;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    font-family: sans-serif;
}

.login {
    width: 280px;
    height: 370px;
    background: #0000005c;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 25px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login h1 {
    background-color: #ed1414;
    border-radius: 6px;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 18px;
    border-radius: 4px;
}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    height: 20px;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    color: #fff;
    background: #000;
    font-size: 17px;
    border-radius: 20px;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-weight: bold;
}

.login a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: rgb(204, 193, 188);
}

.login a:hover {
    color: rgb(141, 7, 7);
}